[Unit]
Description=NovaPay Fake PSP
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=ubuntu
ExecStart=/opt/novapay/bin/fake-psp
Restart=on-failure
RestartSec=5s
Environment=PORT=8081
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fake-psp
MemoryHigh=64M
MemoryMax=96M
OOMScoreAdjust=200

[Install]
WantedBy=multi-user.target
